{% extends 'base.html.twig' %}

{% block container %}
    {% block service %}{% endblock %}

<h2 id="down"> modifier dossier </h2>

<form method="POST">


    nombre de visite :<input type="text" name="nbvisite" value= {{ d.nbVisite }}><br>
    probleme de sanyé :<input type="text" name="problemesante" value="{{  d.problemesSante  }}"><br>



    <input type="submit" value="add">

</form>
<a href="{{ path('afficher_liste_dossier' )}}">afficher les dossiers:</a>

{% endblock %}