{% extends 'base1.html.twig' %}
{% block container %}
<div class="right_col" role="main">
    <div class="">
    <h1>Activites list</h1>

    <table >
        <thead align="1">
            <tr>

                <th>Nomactivite </th>
                <th>Dateactivite </th>
                <th>Descriptionactivite </th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>

                <td>{{ activite.nomActivite }}</td>
                <td>{% if activite.dateActivite %}{{ activite.dateActivite|date('Y-m-d') }}{% endif %}</td>
                <td>{{ activite.descriptionActivite }}</td>
                <td>
                    <ul>
                        <li>
                            <a>show</a>
                        </li>
                        <li>
                            <a>edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>

            <a href="{{ path('ajouter_ac') }}" >Create a new activite</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}