{% extends 'base1.html.twig' %}
{% block container %}
    <div class="right_col" role="main">
    <h2> Ajouter Categorie </h2>
        NomCategorie:
    <form method="POST" >

        <input type="submit" value="ajouter" class="btn-success">


        <input type="text" name="type" class="control-label col-md-3 col-sm-3 col-xs-12"><br>

    </form>
    </div>

{% endblock %}
