{% extends 'base1.html.twig' %}
{% block container %}
    <div class="right_col" role="form">
        <div class="form-control" style="display: table-cell" >
            <h1>Modification d'activite</h1>

            {{ form_start(form) }}

            {{ form_widget(form) }}
            <input class="btn btn-dark" type="submit" value="Modifier" />
            {{ form_end(form) }}



                    <a class="btn btn-danger" href="{{ path('affiche_ac') }}">Retourner à la liste</a>





        </div>
    </div>
{% endblock %}