{% extends 'base1.html.twig' %}
{% block container %}
<div class="right_col" role="main">
    <div class="right_col" >
    <h2>Ajouter votre maison</h2>
<br>
    {{ form_start(form) }}
        <br>
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Ajouter" class="btn btn-success" />
        <a class="btn btn-dark" href="{{ path('affiche_ma') }}">Annuler</a>

        {{ form_end(form) }}


    </div>
</div>
{% endblock %}
