
{% extends 'base1.html.twig' %}

{% block container %}
    <div class="right_col" role="main">
        <div class="right_col" >
            <h1> Modifier votre maison </h1>
            {{ form_start(form) }}

            {{ form_widget(form) }}
            <input type="submit" value="Modifier" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('affiche_ma') }}">Back to the list</a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}