{% extends 'base1.html.twig' %}

        {% block container %}
            <div class="right_col" role="main">
                <div class="">
                    <!-- travaille de backofice -->

                    {{ form (form) }}



                </div>
            </div>

        {% endblock %}
