{%  extends 'base.html.twig' %}

{% block container %}

    <h1>Lists of Posts !</h1>

    <div class="album py-5 bg-light">
        <div class="container">


<div class="post-container">
            <div class="row">


                    <section class="featured section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="heading">
                                        <h1 class="section-title">Latest Posts</h1>
                                        <h4 class="sub-title">You can also post your own thoughts</h4>
                                    </div>
                                </div>

                                {% for animateur in animateurs %}

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                    <div class="featured-box">
                                        <figure>
                                            <div class="homes-tag featured">Blog</div>
                                            <div class="homes-tag rent"><i class="lni-heart"></i> 202</div>
                                            <a><img class="img-fluid" src="{{ asset('uploads/post/' ~ animateur.image) }}" alt=""></a>

                                        </figure>

                                            <div class="listing-bottom clearfix">
                                                <div class="btn-group">


                                                    <a  ><button type="button" class="btn btn-sm btn-outline-primary">View</button></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </section>



            </div>

        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}


{% endblock %}
