{% extends 'base1.html.twig' %}
{#{% block header %} {% endblock %}#}
{% block container %}
<div class="right_col" role="main">
    <div class="">

    <h1>Ajouter une categorie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('show1') }}">Consulter la liste des categories</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
