{% extends 'base.html.twig' %}

{% block container %}
<h2> Ajouter fiche </h2>

<form method="POST">


 remarquesFiche:<input type="text" name="remarques_fiche"><br>
 niveauTemp:<input type="text" name="niveau_temp"><br>
 niveauSec:<input type="text" name="niveau_sec"><br>
 niveauTension:<input type="text" name="niveau_tension"><br>
 groupeSanguin:<input type="text" name="groupe_sanguin"><br>
 medicaments:<input type="text" name="medicaments"><br>
 tailleResident:<input type="text" name="taille_resident"><br>
 poidsResident:<input type="text" name="poids_resident"><br>


 <input type="submit" value="add">

</form>
<a href="{{ path('afficher_fiche' )}}">afficher les fiches:</a>

{% endblock %}