{#{% extends 'base1.html.twig' %}#}
{#{% block container %}#}
    {##}
{#{% endblock %}#}

{% for notif in notifications %}
    <li>
        {{ notif.title }}<br>
        {{ notif.description }} <br>
        <a href="{{ path(notif.route, notif.parameters) }}">See</a>
    </li>
    {% else %}
    <li>No notifications!</li>
    {% endfor %}
