{% extends 'base.html.twig' %}
{#{% block header %} {% endblock %}#}
{% block container %}
    <h1>Sponsor evenement edit</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Edit" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('affichesp') }}">Back to the list</a>
        </li>

    </ul>
{% endblock %}
